on:
  push:
    branches:
      - main
      - demo

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # -----------------------------------------------------------------
      # FORKS A SINCRONIZAR
      # -----------------------------------------------------------------
      
      # 1. Dondeci Pedidos
      - name: Sync to Dondeci
        if: always()
        uses: wei/git-sync@v3
        with:
          source_repo: ${{ github.repository }}
          source_branch: ${{ github.ref_name }}
          # Auth via Token embedded in URL
          destination_repo: "https://${{ secrets.GH_PAT_DONDECI }}@github.com/dondeci/dondeci-pedidos.git"
          destination_branch: ${{ github.ref_name }}

      # 2. DemoChris77
      - name: Sync to DemoChris77
        if: always()
        uses: wei/git-sync@v3
        with:
          source_repo: ${{ github.repository }}
          source_branch: ${{ github.ref_name }}
          # Auth via Token embedded in URL
          destination_repo: "https://${{ secrets.GH_PAT_CHRIS }}@github.com/demochris77/restaurante-pedidos.git"
          destination_branch: ${{ github.ref_name }}

      # -----------------------------------------------------------------
